#container_p {

    width: 100%;

    background-color: rgba(255, 255, 255, 0.829);
    padding-top: 30px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 62%;
    height: auto;
    gap: 60px 5%;
    padding-top: 2%;
    padding-bottom: 4%;
    margin-top: 6%;
    margin-bottom: 4%;
}

.div {
    border: 1px double rgba(0, 0, 0, 0.151);
    text-align: center;
    width: 200px;
    height: 316px;
    display: grid;
    gap: 9px;
}

.img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
}

.button {
    height: 35px;
    background-color: #7268ff;
    font-weight: bold;
    color: white;
}

/* border: 1px solid red; */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    background-color: rgba(114, 164, 204, 0.103);
}

header {
    position: fixed;
    height: 70px;
    width: 100%;
    display: grid;
    align-items: center;
    background-color: white;
    z-index: 999;
}

.encabezado {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

.logo {
    color: white;
    height: 23px;
    margin-top: 5px;
    margin-left: 4.5%;
}

.carrito {
    width: 34px;
    height: 30px;
}

.fondo {
    position: relative;
    margin-top: 70PX;
    width: 100%;
    height: 27rem;
    object-fit: cover;
    filter: invert(15%);
    /* transition: 5s; */
}

.banner {
    position: relative;
}

.banner2 {
    position: relative;
    bottom: 4px;
    width: 100%;
    height: 4rem;
    background: linear-gradient(to right, rgba(151, 19, 19, 0.726) 15%, #7268ff 90%);
}

.contenido_banner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.5%;
    text-align: center;
    color: white;
}

.B {
    margin-top: 3px;
    letter-spacing: 1px;
}

.x {
    display: flex;
    gap: 20px;
}

.img_banner {
    filter: invert(100%);
    width: 40px;
    height: 40px;
}

.tit {
    width: 100%;
    position: absolute;
    padding-top: 3%;
    font-size: 45px;
    font-family: Forte;
    text-align: center;
}

.bienvenidos {
    position: absolute;
    top: 47%;
    text-align: center;
    width: 100%;
    color: white;
}

.b {
    font-size: 80px;
    font-family: Mistral;
}

.d {
    font-size: 30px;
    font-family: Vivaldi;
    font-weight: 600;
    letter-spacing: 2px;
}

.pro1 {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3, auto);
    top: 40rem;
    left: 6rem;
    width: 235px;
}

.pro2 {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3, auto);
    top: 40rem;
    right: 6rem;
    width: 218px;
}

.prop {
    width: 100%;
    height: auto;
}

#hola {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 40px;
    border-radius: 20px;
}

.ctabla {
    /* display: none; */
    position: absolute;
    top: 100%;
    right: 0;
}

#hola:hover .ctabla {
    display: block;
}

table {
    width: 373.87px;
    border: 1px solid red;
    background-color: white;
    border-collapse: collapse;
    font-size: 12px;
    text-align: center;
}

.image {
    width: 40px;
    height: 40px;
}

tr {
    border-bottom: 1px solid gray;
}

td {
    padding: 5px 10px 1.5px 10px;
}

.pruebaaaa {
    height: 50px;
}

.imagen {
    width: 60px;
}

.nombre {
    width: 150px;
}

.precio {
    width: 78.41px;
}

.cantidad {
    width: 20px;
}

.eliminar {
    width: 30px;
}

.fil {
    width: 371.87px;
    background-color: white;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    border-left: 1px solid red;
    line-height: 35px;
}

.uFila {
    display: flex;
    justify-content: space-between;
}

.total {
    margin-right: 20px;
    font-size: 12px;
}

.vaciar {
    color: blue;
    text-decoration: underline;
    background-color: white;
    margin-left: 20px;
    font-size: 12px;
}

@media (max-width: 1700px) {
    .pro1 {
        top: 46rem;
        left: 1.5rem;
        width: 225px;
    }

    .pro2 {
        top: 46rem;
        right: 1.5rem;
        width: 208px;
    }
}

@media (max-width: 1550px) {
    .pro1 {
        display: none;
    }

    .pro2 {
        display: none;
    }
}

@media (max-width: 1387px) {
    .contenido_banner {
        gap: 8%;
    }

    .B {
        font-size: 12px;
        margin-top: 3px;
    }

    .img_banner {
        width: 34px;
        height: 34px;
    }

    .tit {
        font-size: 35px;
    }

    .carrito {
        width: 30px;
        height: 26px;
    }

    .logo {
        color: white;
        height: 18px;
        margin-top: 5px;
    }

    .b {
        font-size: 50px;
        font-family: Mistral;
    }

    .d {
        font-size: 21px;
        letter-spacing: 1px;
    }
}

@media (max-width: 860px) {
    .banner2 {
        height: 50px;
    }

    .contenido_banner {
        gap: 3%;
    }

    .B {
        font-size: 9px;
    }

    .img_banner {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 700px) {
    .bienvenidos {
        margin-top: 10px;
    }

    .tit {
        font-size: 25px;
    }

    .carrito {
        width: 26px;
        height: 22px;
    }

    .fondo {
        height: 18rem;
    }

    .logo {
        color: white;
        height: 18px;
        margin-top: 5px;
    }

    .b {
        font-size: 27px;
    }

    .d {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .tit {
        font-size: 22px;
    }

    .banner2 {
        height: 45px;
    }

    .B {
        font-size: 8px;
    }

    .img_banner {
        width: 24px;
        height: 24px;
    }

    #y {
        display: none;
    }
}

@media (max-width: 442px) {
    .tit {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    table {
        width: 318.87px;
        font-size: 10.4px;
    }

    .image {
        width: 29px;
        height: 29px;
    }

    .imagen {
        width: 90px;
    }

    .eliminar {
        width: 40px;
    }

    td {
        padding: 4.5px 5.36px 3px 5.36px;
    }

    .fil {
        width: 316.87px;
        line-height: 29px;
    }

    .total {
        font-size: 10.4px;
    }

    .vaciar {
        font-size: 10.4px;
    }
}

@media (max-width: 359px) {
    #container {
        padding-top: 16%;
        font-size: 20px;
    }
}

@media (max-width: 350px) {
    #z {
        display: none;
    }
}
